<div class="main-container">
  <div class="event-form-card">
    <h1 class="header">Réservation</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="lastname">Nom</label>
        <input id="lastname" type="text" formControlName="lastname" />
      </div>
      <div class="error-container"></div>
      <div>
          <label for="firstname">Prénom</label>
          <input id="firstname" type="text" formControlName="firstname"/>
        </div>
      <div>
        <div class="error-container"></div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
      </div>
      <div class="error-container"></div>
      <div>
        <label for="birth-date">Date de naissance</label>
        <input id="birth-date" type="date" formControlName="birthDate" />
      </div>
      <div class="error-container"></div>
      <div class="row">
        <div>
          <label for="adult-ticket-count">Nb. tickets adulte</label>
          <input id="adult-ticket-count" type="number" min="0" formControlName="adultTicketCount" />
        </div>
        <div>
          <label for="child-ticket-count">Nb. tickets enfant</label>
          <input id="child-ticket-count" type="number" min="0" formControlName="childTicketCount" />
        </div>
      </div>
      <div class="error-container"></div>

      <button type="submit">Je réserve !</button>
    </form>
  </div>
</div>
